DISCORD_TOKEN=ضع_توكن_البوت_الجديد
OWNER_ID=ضع_ايدي_صاحب_البوت
GUILD_ID=ضع_ايدي_السيرفر_للتسجيل_الفوري
RATING_CHANNEL_ID=ضع_ايدي_روم_التقييم_اختياري
SUGGESTION_CHANNEL_ID=ضع_ايدي_روم_الاقتراحات_اختياري
